@keyframes shimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  
  .shimmer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .shimmer {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #f0f0f0;
    background: linear-gradient(to right, #f6f7f8 8%, #e0e0e0 18%, #f6f7f8 33%);
    background-size: 800px 104px;
    position: relative;
  }
  
  .shimmer.h-40 {
    height: 10rem; /* Height for the book image */
  }
  
  .shimmer.h-6 {
    height: 1.5rem; /* Height for the book title and other lines */
  }
  
  .shimmer.w-1\/2 {
    width: 50%; /* Width for the shorter line */
  }
  
  .shimmer.mb-4 {
    margin-bottom: 1rem; /* Margin bottom */
  }
  
  .shimmer.mb-2 {
    margin-bottom: 0.5rem; /* Margin bottom */
  }
  
  .shimmer.rounded-lg {
    border-radius: 0.5rem; /* Large rounded corners */
  }
  
  .shimmer.rounded {
    border-radius: 0.25rem; /* Small rounded corners */
  }
  